<%- include('../partials/header.ejs') %>
<%- include('../partials/homenavbar') %>

<div class="container ">
    <div style="display: inline;">
    <h2>Artigos</h2>
    <a class="btn btn-success mb-3" href="/admin/articles/new"> Criar Nova Artigo</a>        
    </div>

    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Id</th>
                <th>Título</th>
                <th>Slug</th>
                <th>Categoria</th>
                <th>Ações</th>
            </tr>
        </thead> 
        <tbody> 
            <% categories.forEach(article => { %>
                <tr>
                    <td><%= article.id %></td>
                    <td><%= article.title %></td>
                    <td><%= article.slug %></td>
                    <td><%= article.category ? article.category.title : 'Sem categoria' %></td>
                    <td>
                        <a href="categories/edit/<%= article.id %>" class="btn btn-warning">Editar</a>
                        <form method="post" action="/articles/delete" style="display: inline;" onsubmit="confirmEvent(event, this)">
                            <input type="hidden" value="<%= articles.id %>" name="id">
                            <button type="submit" class="btn btn-danger">Excluir</button>
                        </form>
                    </td>
                </tr>
                </tr>
            <% }) %>
            
        </tbody>
</div>

<%- include('../../partials/footer.ejs') %>

<script>
    function confirmEvent(event, form){
        event.preventDefault();
        var decision = confirm("Tem certeza que deseja excluir?");
        if(decision){
            form.submit();
        }
    }
</script>